/* Selector ID*/

#Contenedor{
    width: 900px;
    height: 1000px;
    background-color: bisque;
}

#Cabecera{
    height: 15%;
    text-align: center;
    background-color: rgb(100, 231, 106);
}

#BarraNavegacion{
    height: 5%;
    text-align: center;
    background-color: rgb(202, 67, 50);
}


#Seccion{
    height: 70%;
    text-align: justify;
    background-color: rgb(43, 247, 53);
}

#PiePagina{
    height: 10%;
    text-align: center;
    background-color: rgb(21, 179, 29);
}

/* Selector de clase*/

.encabezado{
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    font-size: large;
}

.barraNavegacion{
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    font-size: medium;
}

.pieNavegacion{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}

.texto{
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    display: block;
    margin: 0.5em 2em;
}

.imagenes{
    display: inline;
}


/* selector de etiqueta HTML */
ul {
    text-align: center;
}

li {
    display: inline;
    padding-left: 6px;
    padding-right: 6px;
    text-align: center;
}

img {
    width: 100px;
    height: 100px;
    border: 1px rgb(255, 0, 0);
    margin: auto 5px;
    padding: 5px;
    float: left;
}

figcaption{
    font-family: Arial, Helvetica, sans-serif;
    margin: auto 5px;
    padding: 5px;
    float: left;
}

/* Pagina terminada*/